name: Calculator CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Run Calculator Tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 12.x
    - run: node test.js

  build:
    name: Build new Calculator version
    needs: test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - run: chmod +x ./build.sh
    - run: ./build.sh
    - uses: actions/upload-artifact@v3
      with:
        name: dist-build
        path: ./dist
        if-no-files-found: error

  release:
    name: Release the Calculator build
    needs: [test, build]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Download a single artifact
      uses: actions/download-artifact@v3
      with:
        name: dist-build
        path: ./dist
    - name: Deploy to netlify
      uses: netlify/actions/cli@master
      env:
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
      with:
        args: deploy --dir=dist --prod
